.body {
    
}

/* ========== INTERFACE ========== */
.interface {
    border: 1px solid red;
    width: 85%;
    overflow: auto;
    margin: auto;
    background-color: rgb(106, 95, 143);
}

/* ========== CABEÇALHO ========== */
#headerLeft {
    border: 1px solid red;
    width: 450px;
    padding: 25px;
    float: left;
    background-color: blue;
}

#headerRight {
    border: 1px solid red;
    width: 450px;
    padding: 25px;
    float: right;
    background-color: green;
}

/* ========== CORPO ========== */
.corpo {
    padding: 25px;
    color: white;
    margin-top: 350px;
    display: block;
    background-color: black;
}

.titulo {

}

/* ========== RODAPÉ ========== */
.rodape {

}